@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">System information</h1>
</div>

<div class="text-xl-left">
    <p>Time: @Model.NetInfo.CurrentDateTime</p>
    <p>Hostname: @Model.NetInfo.HostName</p>
    <p>Domain: @Model.NetInfo.DomainName</p>
    <p>Interfaces (IPv4 info only):</p>
    @foreach (var interfaceInfo in Model.NetInfo.InterfaceInfos)
    {
        string ipAddresses = string.Empty;
        foreach (var ipAddress in interfaceInfo.Item2)
        {
            ipAddresses = ipAddresses + (string.IsNullOrEmpty(ipAddresses) ? "" : ", ") + ipAddress;
        }
        if (string.IsNullOrEmpty(ipAddresses))
        {
            ipAddresses = "-";
        }
        string gatewayAddresses = string.Empty;
        foreach (var gatewayAddress in interfaceInfo.Item3)
        {
            gatewayAddresses = gatewayAddresses + (string.IsNullOrEmpty(gatewayAddresses) ? "" : ", ") + gatewayAddress;
        }
        if (string.IsNullOrEmpty(gatewayAddresses))
        {
            gatewayAddresses = "-";
        }
        string dnsServerAddresses = string.Empty;
        foreach (var dnsServerAddress in interfaceInfo.Item4)
        {
            dnsServerAddresses = dnsServerAddresses + (string.IsNullOrEmpty(dnsServerAddresses) ? "" : ", ") + dnsServerAddress;
        }
        if (string.IsNullOrEmpty(dnsServerAddresses))
        {
            dnsServerAddresses = "-";
        }
        <p>@interfaceInfo.Item1 (IP: @ipAddresses, GW: @gatewayAddresses, DNS: @dnsServerAddresses)</p>
    }
    <form method="post">
        <button>Check URL</button>
        <input type="url" name="UrlToCheck" value="@Model.UrlToCheck/Responder" asp-fragment="" alt="Or Click Me" size="40">
    </form>
</div>
